<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (template=~{::body},menu='owners',script=~{::script})}">

<body>


  <h2>Owner Information</h2>


  <table class="table table-striped" th:object="${owner}">
    <tr>
      <th>Name</th>
      <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
    </tr>
    <tr>
      <th>Address</th>
      <td th:text="*{address}" /></td>
    </tr>
    <tr>
      <th>City</th>
      <td th:text="*{city}" /></td>
    </tr>
    <tr>
      <th>Telephone</th>
      <td th:text="*{telephone}" /></td>
    </tr>
  </table>

  <a th:href="@{{id}/edit(id=${owner.id})}" class="btn btn-default">Edit
    Owner</a>
  <a th:href="@{{id}/pets/new(id=${owner.id})}" class="btn btn-default">Add
    New Pet</a>

  <br />
  <br />
  <br />
  <h2>Pets and Visits</h2>

  <table class="table table-striped" ng-app="app"
    ng-controller="owner as owner">

    <tr ng-repeat="pet in owner.pets"
      th:with="ownerUrl=@{{ownerId}/pets/(ownerId=${owner.id})}">
      <td valign="top">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{pet.name}}</dd>
          <dt>Birth Date</dt>
          <dd>{{pet.birthDate}}</dd>
          <dt>Type</dt>
          <dd>{{pet.type.name}}</dd>
        </dl>
      </td>
      <td><span ng-if="pet.video"><a href="#"
          data-toggle="modal" data-target="#pet-{{pet.id}}"><i
            class="glyphicon glyphicon-facetime-video"></i></a></span> <!-- Modal -->
        <div class="modal fade" id="pet-{{pet.id}}" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Video of {{pet.name}}</h4>
              </div>
              <div class="modal-body" ng-bind-html="pet.video"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default"
                  data-dismiss="modal">Close</button>
              </div>
            </div>
          </div></td>
      <td valign="top">
        <table class="table-condensed">
          <thead>
            <tr>
              <th>Visit Date</th>
              <th>Description</th>
            </tr>
          </thead>
          <tr ng-repeat="visit in pet.visits">
            <td>{{visit.date}}</td>
            <td>{{visit.description}}</td>
          </tr>
          <tr>
            <td><a th:href="${ownerUrl} + '{{pet.id}}'">Edit
                Pet</a></td>
            <td><a th:href="${ownerUrl} + '{{pet.id}}/visits/new'">Add
                Visit</a></td>
          </tr>
        </table>
      </td>
    </tr>

  </table>

</body>

<script type="text/javascript">
    angular
            .module("app", [])
            .controller(
                    "owner",
                    function($http, $sce) {
                        var self = this;
                        self.pets = [];
                        fetch = function(pet) {
                            $http
                                    .get("videos/" + pet.id)
                                    .then(
                                            function(response) {
                                                pet.video = $sce
                                                        .trustAsHtml('<iframe width="500" height="300" src="' + response.data.url + '" frameborder="0" allowfullscreen></iframe>');
                                            });
                        };
                        $http.get("#").then(function(response) {
                            self.pets = response.data.pets;
                            for (var i=0; i<self.pets.length; i++) {
                              var pet = self.pets[i]
                              fetch(pet);
                            }
                        });
                    });
</script>

</html>